<?xml version="1.0"?>
<!--
/**
 * @author  Vladan Kuzmanovic (vladankuzmanovic@gmail.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="productfaq" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Product FAQ</label>
            <tab>catalog</tab>
            <resource>Kuzman_ProductFaq:system_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enable_in_frontend" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
